/*
TIPA lomakkeen tyylit
2.7.2019
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  line-height: 150% !important;
  text-align: left;
}

main {
  max-width: 100%;
  margin: 5px auto;
  background-color: #FFF;
  overflow: auto;
  position: relative;
}

/* content box colors*/

.light-grey {
  background-color: #f9f9f9;
  margin: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
}

.white {
  background-color: white;
  margin: 1rem;
  margin-top: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
}

/* banner style*/

.hero {
  background-image: url("ttv_banneri_uusi.png");
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logopic {
  margin-bottom: -7px;
}

/* body and fieldset styles*/

body {
  background-color: #fff;
  font-family: Inconsolata, Arial, Helvetica, sans-serif;
}

fieldset {
  border: none;
}

/* heading styles */

h1 {
  color: #22225A;
  text-align: center;
  font-size: 3em;
  line-height: 95%;
}

h2 {
  color: #32842F;
  text-align: left;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 5px;
}

h3 {
  color: darkslategray;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 0;
}

/*Sheet info subheading*/

.subheading {
  color: #22225A;
  text-align: center;
  align-content: center;
}

.legend_border {
  /* subheading box style*/
  display: inline-block;
  padding: 2px;
  border: transparent;
  border-width: thin;
  border-color: #22225A;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
  text-align: center;
  line-height: 200%;
}

/* green infopoint style  */

.ohje {
  color: #32842F;
}

/* input styles  */

input {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 1.5em;
}

input:not([type=submit]):not([type=checkbox]):focus {
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  padding-top: -1em;
}

input[type=checkbox] {
  width: auto;
  margin: 0;
  margin-right: 2px;
}

.textarea {
  width: auto;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
}

textarea:focus {
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  padding-top: -1em;
}

select {
  max-width: 150px;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/*Field for answer bar size */

.field {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

/* Label & input answer bars inline */

label {
  float: left;
  width: 100%;
  text-align: left;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-content: center;
  text-align: center;
}

.w80 {
  width: 80%
}

.w100 {
  width: 100%;
  align-content: center;
  text-align: center;
}

/* Legend style*/

legend {
  display: block;
  padding: 2px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* third ticet styles*/

.third-tickets {
  width: 33%;
  float: left;
}

/* info style */

.info {
  font-size: .8em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  font-style: italic;
  display: block;
  float: left;
  color: dimgrey;
  width: auto;
}

.required::after {
  content: '*';
  color: red;
}

/* info style large */

.infoXL {
  font-size: .95em;
  margin-top: 0px;
  margin-bottom: 2em;
  font-style: italic;
  display: block;
  float: left;
  color: dimgrey;
}

/* Button style */

/* Send form */

.cta {
  background-color: #3e3fa8;
  color: #ffffff;
  padding: 1rem;
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 2.5rem auto;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

input:hover.cta {
  background-color: #22225A;
}

/* Add new service */

.cta-pal {
  background-color: #FFF;
  border: 2px solid #32842F;
  color: #32842F;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  width: 180px;
  height: 60px;
  margin: 2.5rem auto;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

button:hover.cta-pal {
  background-color: lavender;
}

/* -------------- hidden field specs -----------*/

.hidden {
  display: none;
}

/* footer */

footer {
  background-color: lightgrey;
  color: black;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  clear: both;
  margin-bottom: 0rem;
  display: inline-block;
  width: 100%;
  align-content: center;
}

/*
Media query
*/

@media screen and (max-width: 472px) {
  h1 {
    font-size: 1.5rem;
  }

  .cta-pal {
    margin: 15px 0;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 2rem;
  }
  .third-tickets {
    width: 100%;
    float: none;
  }
}
