/*
TIPA lomakkeen tyylit
2.7.2019
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  width: 90%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  line-height: 100%;
}



main {
  max-width: 1000px;
  margin: 10px auto;
  background-color: #FFF;
  overflow: auto;
  position: relative;
}

/* banner style*/

.hero {
  background-image: url("ttv_banneri_uusi.png");
}

img {
  margin-bottom: -3px;
}

/* body and fieldset styles*/

body {
  background-color: #fff;
  font-family: Inconsolata, Arial, Helvetica, sans-serif;
}

fieldset {
  border: none;
}

/* heading styles */

h1 {
  color: #22225A;
  text-align: center;
  font-size: 4em;
  line-height: 95%;
}

h2 {
  color: #32842F;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0;
}

.subheading {
  color: #22225A;
  text-align: center;
}

.legend_border {    /* subheading box style*/
  display: inline-block;
  padding: 2px;
  border: solid;
  border-width: thin;
  border-color: #22225A;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  align-content: center;
  text-align: center;
  line-height: 200%;
} 

/* green infopoint style  */

.ohje {
  color: #32842F;
}

input {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 1.5em;
  float: left;
}

input[type=checkbox] {
  width: auto;
  margin: 0;
  margin-right: 2px;
}

textarea {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  padding-top: -1em;
  margin-bottom: 1.5em;
}

textarea:focus {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 4px;
  padding-top: -1em;
  margin-bottom: 1.5em;
}


select {
  width: 30%;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/*Field for answer bar size */

.field {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

/* Label ja input aloittamaan palkit samalta kohtaa */

label {
  float: left;
  width: 100%;
  text-align: left;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-content: center;
  text-align: center;
}

.w60 {
  width: 60%
}
.w80 {
  width: 80%
}
.w100 {
  width: 100%
}

/* Osion otsikon tyyli */

legend {
  display: block;
  padding: 2px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Seliterivi */

.info {
  font-size: .8em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  font-style: italic;
  display: block;
  float: left;
  color: dimgrey;
}

/* selite isompi */

.infoXL {
  font-size: .95em;
  margin-top: 0;
  margin-bottom: 2em;
  font-style: italic;
  display: block;
  float: left;
  color: dimgrey;
}

/* Button styles */

.cta {
  background-color: #3e3fa8;
  color: #ffffff;
  padding: 1rem;
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 2.5rem auto;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

input:hover.cta {
  background-color: #22225A;
}

.cta-pp {
  background-color: #FFF;
  border: 2px solid #3AAA35;
  color: #3AAA35;
  padding: 0.5rem;
  display: inline;
  text-align: center;
  max-width: 250px;
  margin: 2.5rem auto;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: -1rem;
}

button:hover.cta-pp {
  background-color: azure;
}

.cta-pal {
  background-color: #FFF;
  border: 2px solid #32842F;
  color: #32842F;
  padding: 0.5rem;
  display: inline;
  text-align: center;
  max-width: 150px;
  margin: 2.5rem auto;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: -1rem;
}

button:hover.cta-pal {
  background-color: lavender;
}

/* -------------- hidden field specs -----------*/

.hidden {
  display: none;
}

.hide {
  display: none;
}

.hide4d {
  display: none;
}

.hide2ndSer {
  display: none;
}

/* reveal-if-active not working.....*/

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="checkbox"]:checked~.reveal-if-active {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

/* footer */

footer {
  background-color: lightgrey;
  color: black;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  clear: both;
  margin-bottom: 0rem;
  display: inline-block;
  width: 100%;
}